/* style.css */
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background: url('assets/bg.jpg') no-repeat center center fixed;
  background-size: cover;
  font-family: 'Poppins', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  position: relative;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.5); /* optional dimming */
  text-align: center;
  padding: 30px;
  border-radius: 10px;
}

.main-title {
  font-size: 64px;
  font-weight: bold;
  letter-spacing: 2px;
}

.subtitle {
  font-size: 24px;
  margin-top: 10px;
  letter-spacing: 1px;
  font-weight: 300;
}
