
@font-face {
    font-family: 'CreepifyFont';
    src: url('assets/creepy-font.ttf') format('truetype');
}
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'CreepifyFont', sans-serif;
    background: url('assets/bg.jpg') no-repeat center center fixed;
    background-size: cover;
}
.overlay {
    background: rgba(0, 0, 0, 0.6);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.content h1 {
    font-size: 5rem;
    color: #ff0000;
    text-shadow: 2px 2px 8px #000;
}
.content p {
    font-size: 1.5rem;
    color: #fff;
    margin-top: -10px;
}
.explore-button {
    margin-top: 20px;
    padding: 12px 24px;
    font-size: 1.2rem;
    color: #fff;
    background-color: #880000;
    border: none;
    text-decoration: none;
    border-radius: 8px;
    transition: 0.3s ease;
}
.explore-button:hover {
    background-color: #ff0000;
    box-shadow: 0 0 10px #ff0000;
}
